/*
It imports the App.scss stylesheet using @import "../../App.scss";. This allows the file to use styles defined in the App.scss file.

The code defines styles for the .sc-category class, which is likely used to style the category section.

Within the .sc-category class, media queries are used to apply different styles based on the screen width:

For screens with a minimum width of 420px, the grid-template-columns property is set to repeat(2, 1fr), creating a grid layout with two columns. The column-gap is set to 24px.
For screens with a minimum width of 576px, the grid-template-columns property is set to repeat(3, 1fr), creating a grid layout with three columns.
For screens with a minimum width of 992px, the grid-template-columns property is set to repeat(4, 1fr), creating a grid layout with four columns.
For screens with a minimum width of 1080px, the grid-template-columns property is set to repeat(5, 1fr), creating a grid layout with five columns.
The code defines styles for the .category-itm class, which likely represents an individual category item within the category section.

The .category-itm class sets various styles such as background color, positioning, margin, box shadow, and border radius for the category item.
The .category-itm-img class represents the category item image and sets the height and positioning for the image.
The nested img selector sets padding and transition effects for the category item image.
When hovering over the category item, the image scales down slightly using the transform property.
The .category-itm-title class represents the category item title and sets positioning, padding, border radius, and box shadow for the title.
When hovering over the category item, the opacity and border radius of the title change using the opacity and border-radius properties.
*/

@import "../../App.scss"; // Importing the App.scss stylesheet

.sc-category {
  @media screen and (min-width: 420px) {
    grid-template-columns: repeat(2, 1fr); // Grid columns for screens with a minimum width of 420px
    column-gap: 24px; // Gap between grid columns
  }

  @media screen and (min-width: 576px) {
    grid-template-columns: repeat(3, 1fr); // Grid columns for screens with a minimum width of 576px
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr); // Grid columns for screens with a minimum width of 992px
  }

  @media screen and (min-width: 1080px) {
    grid-template-columns: repeat(5, 1fr); // Grid columns for screens with a minimum width of 1080px
  }

  .category-itm {
    background-color: $clr-white; // Background color for category item
    position: relative; // Positioning for category item
    margin: 12px auto; // Margin for category item
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px; // Box shadow for category item
    border-radius: 3px; // Border radius for category item
    box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px; // Box shadow for category item

    &-img {
      height: 150px; // Height of category item image
      position: relative; // Positioning for category item image

      img {
        padding: 12px; // Padding for category item image
        transition: $transition; // Transition effect for category item image
      }

      &:hover {
        img {
          transform: scale(0.8); // Scale transform effect for category item image on hover
        }
      }
    }

    &-title {
      position: absolute; // Positioning for category item title
      top: 6px; // Top position for category item title
      right: 6px; // Right position for category item title
      padding: 1px 8px; // Padding for category item title
      border-radius: 3px; // Border radius for category item title
      box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px; // Box shadow for category item title
      transition: $transition; // Transition effect for category item title
    }

    &:hover {
      .category-itm-title {
        opacity: 1; // Opacity of category item title on hover
        border-radius: 2px; // Border radius for category item title on hover
      }
    }
  }
}
