@import "../../App.scss"; // Importing the global styles

.navbar {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; // Box shadow for the navbar
    height: 60px; // Height of the navbar
    position: relative; // Positioning of the navbar
    z-index: 999; // z-index of the navbar
    transition: $transition; // Transition property

    .navbar-brand-text {
        margin-left: 5px; // Margin for the navbar brand text
    }
    .navbar-search-btn {
        margin-right: 12px; // Margin for the navbar search button
    }
}

.scrolled {
    position: fixed; // Positioning of the element when scrolled
    top: 0; // Top position when scrolled
    left: 0; // Left position when scrolled
    width: 100%; // Width of the element when scrolled
}

.header {
    .header-content {
        height: 400px; // Height of the header content
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../../assets/images/header_image.jpg") center/cover no-repeat; // Background styling for the header content
    }
    .header-title {
        margin-top: 2.4rem; // Margin top for the header title
    }
}

.search-form {
    .form-control-input {
        box-shadow: 0 4px 10px rgb(0 0 0 / 12%), 0 0 1px rgb(0 0 0 / 5%) inset; // Box shadow for the form control input
        min-width: 300px; // Minimum width of the form control input
        font-size: 16px; // Font size of the form control input
        height: 55px; // Height of the form control input
        padding: 0px 3.2rem; // Padding of the form control input
        border-radius: 2.8rem!important; // Border radius of the form control input
        margin-right: 1.2rem; // Margin right for the form control input
    }
    .form-submit-btn {
        width: 55px; // Width of the form submit button
        height: 55px; // Height of the form submit button
        background-color: $clr-orange; // Background color of the form submit button
        border-radius: 50%; // Border radius of the form submit button
        position: relative; // Positioning of the form submit button
        transition: $transition; // Transition property

        .btn-icon {
            transition: $transition; // Transition property for the button icon
        }

        &:after {
            content: ""; // Content property for the pseudo-element
            position: absolute; // Positioning of the pseudo-element
            top: 50%; // Top position of the pseudo-element
            left: 50%; // Left position of the pseudo-element
            transform: translate(-50%, -50%); // Transform positioning of the pseudo-element
            width: 100%; // Width of the pseudo-element
            height: 100%; // Height of the pseudo-element
            border: 1px solid $clr-white; // Border styling for the pseudo-element
            border-radius: 50%; // Border radius of the pseudo-element
        }

        &:hover {
            .btn-icon {
                transform: scale(0.9); // Scale transform on hover for the button icon
                color: $clr-orange; // Color change on hover for the button icon
            }
            background: $clr-white; // Background change on hover for the form submit button
        }
    }
}
